{% extends 'template.twig' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center"><h1>Selecione uma das opções abaixo:</h1></div>
        <div class="col-12"><a href="{{ baseURL }}adicionar" class="btn btn-primary btn-lg btn-block">Cadastrar</a> </div>
        <div class="col-12">&nbsp;</div>
        <div class="col-12"><a href="{{ baseURL }}consultar" class="btn btn-warning btn-lg btn-block">Consultar</a> </div>
        <div class="col-12">&nbsp;</div>
        <div class="col-12"><a href="{{ baseURL }}admin/login" class="btn btn-secondary btn-lg btn-block">Login</a> </div>
    </div>
</div>
{% endblock %}